# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
dist/
build/

# Flask instance folder
instance/
*.db
*.sqlite3

# Flask environment variables
.env
.venv
venv/
ENV/
env/
*.env

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Pip dependency file
pip-log.txt
